<h3>Memory</h2>
<div class="memory-grid">
    <span>Total:</span>
    <span>{{.Memory.Total}}</span>
    <span>Free:</span>
    <span>{{.Memory.Free}}</span>
    <span>Available:</span>
    <span>{{.Memory.Available}}</span>
</div>

<h3>Docker</h3>
<span class="docker-version">Version:</span><span>{{.Docker.Version}}</span>

<h4>Containers</h2>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Created</th>
            <th>Status</th>
            <th>Ports</th>
            <th>Name</th>
        </tr>
        {{range $c := .Docker.Containers}}
            <tr>
                <td>{{slice $c.Id 0 10}}</td>
                <td>{{$c.Image}}</td>
                <td>{{$c.Created}}</td>
                <td>{{$c.Status}}</td>
                <td>
                    {{range $p := .Ports}}
                        <span>{{$p.Ip}}:{{$p.PublicPort}}->{{$p.PrivatePort}}/{{$p.Type}}</span>
                        <br>
                    {{end}}
                </td>
                <td>{{$c.Name}}</td>
                <td>
                    <form action="/docker/{{$c.Id}}">
                        <input type="submit" value="Details" />
                    </form>
                </td>
            </tr>
        {{end}}
    </table>

    <form action="/docker/new">
        <input type="submit" value="New" />
    </form>
</div>

<style>
    .memory-grid {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 15em;
    }

    .docker-version {
        padding-right: 1em;
    }

    th, td {
        padding-left: 1em;
        padding-right: 1em;
        border-bottom: 1px solid;
        border-top: 1px solid;
        border-inline: 1px solid;
    }

    table {
        padding-bottom: 1em;
    }
</style>